# RocfluMP build files
build_lib/*.f90
build_lib/*.d
build_lib/*.o
build_lib/*.mod
build_lib/*.a

build_std/*.f90
build_std/*.d
build_std/*.o
build_std/*.mod

build_util/**/*.f90
build_util/**/*.d
build_util/**/*.o
build_util/**/*.mod


rfluclone
rfluconv
rfluextr
rfluinit
rflumap
rflump
rflupart
rflupick
rflupost

# Vim swap files
## RocfluMP
*.swp
*/*.swp
## ppiclF
libpicl/ppiclf/source/*.swp
libpicl/user_files/*.swp
libpicl/ppiclF/3rd_party/gslib/*
!libpicl/ppiclF/3rd_party/gslib/install
libpicl/ppiclF/build/*


## ppiclf unit test output
libpicl/unit_tests/*.txt
libpicl/unit_tests/CodePerformance_UnitTest
libpicl/unit_tests/CreateBin_UnitTest
libpicl/unit_tests/InterpProj_UnitTest
libpicl/unit_tests/Particle2Particle_UnitTest
libpicl/unit_tests/run*
libpicl/unit_tests/*.txt
libpicl/unit_tests/unitTestSrc/*.o
libpicl/unit_tests/unitTestSrc/PPICLF_UNIT_TEST
